%menuText {
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1.5px;
}

%titleText {
	font-family: freight-display-pro, serif;
	font-size: 34px;
	color: #414141;
}
